@font-face { font-family: Suisse Regular; font-weight: bold; src: url('../css/data/suisse-regular.woff');}
@font-face { font-family: Suisse Regular-Italic; font-weight: bold; src: url('../css/data/suisse-regular-italic.woff');}
@font-face { font-family: Suisse Light; font-weight: lighter; src: url('../css/data/suisse-light-new.woff');}
@font-face { font-family: Suisse Light; font-weight: lighter; font-style: italic; src: url('../css/data/suisse-light-italic.woff');}
@font-face { font-family: Suisse; font-weight: medium; src: url('../css/data/SuisseIntl-SemiBold.otf');}

body{
  margin:0;
  margin-top: 100px;
  position: relative;
  padding-bottom: 2em;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-family: Suisse Light, sans-serif;
  font-size: 2vw;
}

.center{
  text-align: center;
  margin: 20px;
}

/* NAVIGATION */
/* --------------------------------------------------------------------- */
.navigation{
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navigation a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 25px 46px;
  text-decoration: none;
  font-size: 18px;
  font-family: Suisse Regular, sans-serif;
  outline: none;
}

.navigation a:hover{
  background-color: yellow;
  color: black;
  outline: none;
}
/* --------------------------------------------------------------------- */

/* BOTTOM NAVIGATION */
/* --------------------------------------------------------------------- */
.bottomnav{
  background-color: white;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.bottomnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 0 46px 25px 46px;
  text-decoration: none;
  font-size: 18px;
  font-family: Suisse Regular, sans-serif;
  outline: none;
}

.bottomnav a:hover{
  color: black;
}

.bottomnav button{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 0 46px 25px 46px;
  text-decoration: none;
  font-size: 18px;
  font-family: Suisse Regular, sans-serif;
  border: none;
  cursor: pointer;
  background-color: inherit;
  outline: inherit;
}
/* --------------------------------------------------------------------- */

/* FLEX */
/* ---------------------------------------------------------------------- */
.flex-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-container > .left {
  width: 25%;
  margin-left: 46px;
  margin-right: 20px;
  margin-top: 10px;
  text-align: left;
}

.flex-container > .right {
  width: 50%;
  margin: 10px;
  height: inherit;
}

/* --------------------------------------------------------------------- */

/* FLOAT */
/* --------------------------------------------------------------------- */
.column {
    float: left;
    padding: 10px 10px 0px 10px;
}

/* Left and right column */
.column.side {
    width: 20%;
    padding-left: 46px; /* get rid of this if you want the padding: 0 0 0 1.8vw;, responsive in h  */
}

/* Middle column */
.column.middle {
    /* padding:0; */
    width: 60%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.container{
  margin-top:0;
  /* position:fixed; */
}

/* FOR CV */
/* --------------------------------------------------------------------- */
table, td, th {
    /* border: 1px solid black; */
    /* margin-top:0; */
    /* display: block; */
    color: black;
    text-align: left;
    text-decoration: none;
    font-size: 18px;
    font-family: Suisse Light, sans-serif;
    font-weight: lighter;
    overflow: hidden;
}

table {
    border-collapse: collapse;
    /* width: 100%; */
    overflow: hidden;
}

td {
    /* height: 50px; */
    padding: 0 20px 0 0;
    vertical-align: top;
}

.contact{
    max-width: 90%;
    overflow-x:hidden;
    margin: 10px 10px 0px 46px;
}

.contact a {
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 18px;
  font-family: Suisse Light, sans-serif;
  font-weight: lighter;
  overflow: hidden;
  vertical-align: top;
  /* text-decoration: underline; */
  /* border-bottom: 2px solid #000; */
}

.contact a:hover{
  text-decoration: underline;
}
/* --------------------------------------------------------------------- */

/* HOVER */
/* --------------------------------------------------------------------- */
.cv{
  float: left;
  padding: 10px 10px 0px 46px;
}

.cv a {
  margin-top:0;
  display: block;
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 18px;
  font-family: Suisse Regular, sans-serif;
  font-weight: lighter;
}

.cv p{
  position: relative;
  z-index: 3;
}

.cv p:hover{
  position: relative;
  /* z-index: 3; */
}

.cv a:hover img{
  display: inline;
  position: absolute;
  left:0;
  z-index:-1;
  opacity: 1;
}

.cv a:hover {
  /* color: blue; */
}

.cv img{
  display:none;
  z-index:-1;
}

/* --------------------------------------------------------------------- */


/* TYPE */
/* --------------------------------------------------------------------- */
h6{
  display: block;
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-family: Suisse Regular, sans-serif;
}

h1{
  float: left;
  display: block;
  margin: auto;
  color: black;
  text-align: center;
  padding: 25px 0 0 46px;
  text-decoration: none;
  font-size: 18px;
  font-family: Suisse Regular, sans-serif;
}

h2{
  /*float: center;*/
  /*text-align: center;*/
  margin: auto;
  /*width: 40%;*/
  max-width: 55%;
  /*width: 100%;
  height: 100%;*/
  position: relative;
  /*font-family: Suisse Regular;*/
  /*font-weight: lighter;*/
  /*font-size: 6vw;*/
  display: block;
  color: black;
  text-align: left;
  padding: 25px 0 0 0;
  /*margin: auto;*/
  text-decoration: none;
  font-size: 1.8vw;
  font-family: Suisse Regular, sans-serif;
}

/* for descriptions */
h3{
  /*float: center;*/
  /*text-align: center;*/
  /* margin-left: 50px; */
  margin-top:0;
  /* margin-top: 25px; */
  /* width: 15%; */
  /* max-width: 55%; */
  /*width: 100%;
  height: 100%;*/
  /* position: fixed; */
  /*font-family: Suisse Regular;*/
  /*font-weight: lighter;*/
  /*font-size: 6vw;*/
  display: block;
  color: black;
  text-align: left;
  /* padding: 0 0 0 1.8vw; */
  /*margin: auto;*/
  text-decoration: none;
  font-size: 18px;
  font-family: Suisse Light, sans-serif;
  font-weight: lighter;
}

h3 a{
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 18px;
  font-family: Suisse Light, sans-serif;
  font-weight: lighter;
}

h3 a:hover{
  text-decoration: underline;
}

p3{
  display: block;
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 18px;
  font-family: Suisse Light, sans-serif;
  font-weight: lighter;
}

p3 a{
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 18px;
  font-family: Suisse Light, sans-serif;
  font-weight: lighter;
}

/* for material (italic) */
h5{
  margin-top:0;
  display: block;
  color: black;
  text-align: left;
  /* padding: 0 0 0 1.8vw; */
  text-decoration: none;
  font-size: 18px;
  font-family: Suisse Light, sans-serif;
  font-weight: lighter;
  font-style: italic;
}

/* main (titles + NAVIGATION) */
h4{
  margin-top:0;
  display: block;
  color: black;
  text-align: left;
  /* padding: 0 0 0 1.8vw; */
  text-decoration: none;
  font-size: 18px;
  font-family: Suisse Regular, sans-serif;
  font-weight: bold;
}

em {
   font-family: Suisse Light, sans-serif;
   font-weight: lighter;
   font-style: italic;
}
/* --------------------------------------------------------------------- */

#header-content {
  position: absolute;
  bottom: 0;
}

div{
  width: 100%;
  text-align: center;
}

img{
  width: 45%;
}

a{
  color: black;
  text-decoration: none;
  /*text-decoration: line-through;*/
  font-size: 0vw;
  font-family: Suisse Regular;
  font-weight: lighter;
  outline: none;
}

ul{
  width:100;
  margin-left: 0;
  margin:0;
  padding-left: 0;
}

img{
  width: 100%;
}

.border{
  /* border: 1px solid black; */
  background-color: #d2d2d2;
  margin: 0;
  padding: 0;
}

ul li{
  max-width: 30%;
  display: inline-block;
  margin: 0 15px 22px 15px;
  position: relative;
  vertical-align: top;
}

ul li.singlework{
  margin: auto;
  max-width: 100%;
  display: block;
  padding: 0 0 25px 0;
  position: relative;
  vertical-align: top;
}

ul li img{
  opacity: 0;
}

ul li img.nohover{
  opacity: 1;
}

ul li img:hover{
  opacity: 1;
}

ul li p{
  /*border: 1px solid black;*/
  vertical-align: top;
  text-align: left;
  margin:10px 0 0 0;
  font-size: 20px;
}

#link{
    text-decoration: none;
}

::-moz-selection { /* Code for Firefox */
    color: black;
    background: yellow;
}

::selection {
    color: black;
    background: yellow;
}

/* RESPONSIVE */
/* --------------------------------------------------------------------- */

@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 90%;
        padding: 0 5.8vw 0 5.8vw;
        /* padding-left: 1.8vw; */
        overflow-x: hidden;
    }
    .column {
        float: left;
        /* padding: 10px 10px 0px 10px; */
    }

    .navigation a {
      float: left;
      display: block;
      color: black;
      text-align: left;
      padding: 5.8vw 5.8vw;
      text-decoration: none;
      font-size: 1vw;
      font-family: Suisse Regular, sans-serif;
      outline: none;
    }

    h3{
      padding: 0 0 0 0;
    }
    h4{
      padding: 0 0 0 0;
    }

    /* FLEX */
    /* -------------------------------------------- */
    .flex-container {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .flex-container > .left {
      width: 80%;
      padding: 5.8vw 0 5.8vw 0;
      margin: 0;
      text-align: left;
      flex-direction: column;
    }

    .flex-container > .right {
      width: 80%;
      height: inherit;
      margin: 0;
      /* padding: 0 5.8vw 0 5.8vw; */
      flex-direction: column;
    }
    /* -------------------------------------------- */
}

@media only screen and (min-width : 280px) and (max-width : 667px){
  /* FLEX */
  /* -------------------------------------------- */
  .flex-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .flex-container > .left {
    width: 80%;
    padding: 5.8vw 0 5.8vw 0;
    margin: 0;
    text-align: left;
    flex-direction: column;
  }

  .flex-container > .right {
    width: 80%;
    height: inherit;
    margin: 0;
    /* padding: 0 5.8vw 0 5.8vw; */
    flex-direction: column;
  }
  /* -------------------------------------------- */

  .column.side, .column.middle {
      width: 90%;
      /* padding: 10px 46px 0px 46px; */
      padding: 0 5.8vw 0 5.8vw;
      /* padding-left: 2.8vw; */
  }
  .column {
      float: left;
  }

  h3{
    padding: 0 0 0 0;
  }
  h4{
    padding: 0 0 0 0;
  }

/* ------------------------------------------- */

  ul{
    width:100%;
    margin-left: 0;
    margin:0;
    padding-left: 0;
  }

  ul li{
    min-width: 85%;
    display: inline-block;
    margin: 0 15px 22px 15px;
    position: relative;
    vertical-align: top;
  }

  ul li p{
    /* border: 1px solid black; */
    vertical-align: top;
    text-align: left;
    margin: 1vw 0 0 0;
    font-size: 5vw;
  }

  ul li img{
    opacity: 1;
  }

  .border{
    border: none;
    margin: 0;
    padding: 0;
  }

  .navigation a {
    float: left;
    display: block;
    color: black;
    text-align: left;
    padding: 5.8vw 5.8vw;
    text-decoration: none;
    font-size: 5vw;
    font-family: Suisse Regular, sans-serif;
    outline: none;
  }

  .navigation a:hover{
    background-color: #d2d2d2;
    color: black;
    outline: none;
  }

  .bottomnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 5.8vw 5.8vw;
    text-decoration: none;
    font-size: 5vw;
    font-family: Suisse Regular, sans-serif;
  }

  .bottomnav a:hover{
    color: black;
  }

  .bottomnav button{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 5.8vw 5.8vw;
    text-decoration: none;
    font-size: 5vw;
    font-family: Suisse Regular, sans-serif;
    border: none;
    cursor: pointer;
    background-color: inherit;
    outline: inherit;
  }

  body{
    margin-top: 19.6vw;
  }

/* CONTACT */
/* ------------------------------- */
  .contact{
      overflow-x:hidden;
      margin: 5.8vw;
  }

  h4{
    margin:3.8vw 0 3.8vw 0;
    display: block;
    color: black;
    text-align: left;
    /* padding: 0 0 0 0; */
    text-decoration: none;
    font-size: 18px;
    font-family: Suisse Regular, sans-serif;
    font-weight: bold;
  }

}

 /* ----------------------------------------------------------------- */
.footer {
  background-color: white;
  width: 100%;
  height: 2em;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer p {
  margin-top:0;
  display: block;
  color: black;
  text-align: left;
  /* padding: 0 0 0 1.8vw; */
  padding: 25px 46px;
  text-decoration: none;
  font-size: 12px;
  font-family: Suisse Regular, sans-serif;
  font-weight: bold;
}
 /* ----------------------------------------------------------------- */
